/* 레이아웃 및 최상위 컴포넌트 스타일
  1. 메인 레이아웃
  2. 배경 테마
  3. 공통 컴포넌트 초기화
 */

.app {
  display: flex;
  justify-content: center;
  height: 100dvh;
  overflow: hidden;
  background-color: #09001f;
}

.app-content {
  display: flex;
  width: 100vw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(5, 0, 20, 0.5), rgba(5, 0, 20, 0.85)),
    url("@/assets/images/mainBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
