/* 전역 스타일 설정 
  1. 브라우저 기본 스타일 초기화
  2. 폰트 설정
  3. CSS 변수
  4. body 태그 기본 배경 및 글자색
*/

/* 1. 브라우저 기본 스타일 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: #ffffff;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* body 태그 */
html,
body,
#root {
  width: 100%;
  min-width: 520px;
  min-height: 100dvh;
}
